#formPadding {
  padding-top: 2%;
}
#rowSpace {
  margin-bottom: 60px;
}
#logo {
  width: 70px;
  height: 43px;
  margin-top: -12px;
}
.errorDiv {
  color: red;
}
.hrDivider {
  color: white;
}
.pic {
  margin: 12px 0 0 0;
}
.colored {
  border-color: #2195f3;
  background-color: #2195f3;
  height: 1px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 270px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 135px;
  background-color: #757575;
  color: white;
}
.footer image {
  margin: 10px 0 0 0;
}
.footer li {
  display: inline;
}

.footer divelop
{
  display: inline;
}
